/* Header */
.header {
    grid-template-columns: 6.5% 6.5% 31% 23.5%;
    grid-gap: 30px;
}

/* Body */
.main-body {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
}

.content {
    grid-template-columns: 5%;
}

.border-cell {
    min-width: 2000%;
    min-height: 175px;
    overflow-wrap: break-word;
}

.side-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

/* Footer */
.footer {
    grid-template-columns: 40% 18.5%;
    grid-gap: 40%;
    height: auto;
    padding: 2px 2px 2px 5px;
}
