/* General */
html {
    background: skyblue ;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: blue;
    text-decoration: underline wavy blue;
}

.header a,
.footer a {
    color: darkblue;
    text-decoration: underline dotted red;
}
/* Header */
.header {
    display: grid;
    grid-template-columns: 5.5% 5.5% 77% 5.5%;
    grid-gap: 15px;
    background-color: lightyellow;
    background-repeat: repeat;
    height: 25px;
    padding: 7px 0 7px 0.03%;
}

.head-image{
    display: flex;
   max-width:500px;
    height: 150px;
}

/* Body */
.main-body {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 0.1% 0.1%;
    padding-bottom: 25px;
}

.content {
    display: grid;
    grid-template-columns: 2.5% 2.5%;
    grid-gap: 15px 38%;
}

.border-cell {
    border: 1px solid slateblue;
    min-width: 1500%;
    min-height: 250px;
    overflow-wrap: break-word;
}

.side-content {
    display: grid;
    grid-template-rows: 5% 25px 25px 25px 25px;
    grid-gap: 15px;
    grid-template-columns: 76%;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: 85% 18.5%;
    grid-gap: 0.1%;
    background-color: whitesmoke;
    background-repeat: repeat;
    height: 25px;
    padding: 0 0 15px 3px;
}